<section>
    <div>{{successMessage}}</div>
        Hi, {{fullName}}({{email}})  
        <form method="POST" action="/users/edit/{{_id}}?method=PUT">                  

            <label for="password">New Password: </label>
            <input type="password" id="password" name="password" value={{password}}> <br><br>

            <label for="password2">New Password again: </label>
            <input type="password" id="password2" name="password2" value={{password2}}> <br><br>      
    {{#each errors}}
        <div >{{this}}</div>
    {{/each}}
            
            <input type="submit" value="Submit" class="place"><br>        
        </form>  

</section>