<h2>List of Products</h2>
 
 <section class="list-of-products">    

    <table border="1" style="text-align: center;">
        <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Best Seller</th>
                <th>Operation</th>                                
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                   <td>
                        <a href="/products/{{this.id}}" class="product-Name">{{this.Name}}</a>
                   </td>
                   <td>
                       <span>{{this.Price}}</span>
                      
                   </td>
                   <td>
                        <span>{{this.Category}}</span>
                   </td>
                   <td>
                       <span>{{this.BestSeller}}</span>
                   </td>
                   <td>
                        <a href="/products/edit/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/products/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>

                {{else}}
                    <td colspan="5">
                        <p>No tasks in the database</p>
                    </td>

                {{/each}}
    </tbody>
    </table>
 
</section>

<div id="products-links-holder">
    <a href="/products/add">Add a Product</a>
</div>