<h2>List of Products</h2>
<br>
<div class="edit-delete-button">
    <a href="/products/add" class="edit-delete-button">Add a Product</a>
</div>
<br>           
        
            {{#each data}}
            <table id="list-of-product">
                <tr>
                   <td rowspan='5' id="pic">
                       <a href="/products/{{this.id}}"><img src="/uploads/{{productPic}}" width="120" height="168"></a>                        
                   </td>                   
                </tr>
                <tr>
                    <td><a href="/products/{{this.id}}" id="name">      {{this.Name}}</a></td>
                    <td rowspan='2' class="bottom"><a href="/products/edit/{{this.id}}" class="edit-delete-button">Edit</a></td>
                </tr>
                <tr>
                    <td id="other">      Category: {{this.Category}}</td>
                </tr>
                <tr>
                    <td id="other">      Best Seller:　{{this.BestSeller}}</td>
                    <td rowspan="2" class="bottom"><a href="/products/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a></td>
                </tr>
                <tr>
                    <td id="cdn">
                             CDN$  <mark id=price>{{this.Price}}</mark>                      
                   </td>
                </tr>                
            </table> <br>               

                {{else}}
                <table id="list-products">
                    <tr>
                        <td colspan="3">
                            <p>No product sales!!</p>
                        </td>
                    </tr>
                </table>        
            {{/each}}
    
    
 

