<section class="products">
    <div id='Category'>
        <a href="/products/Advertrue">Advertrue</a> <br>       
        Party <br>
        Racing <br>
        Sport <br>
    </div>
    {{#each products}}
        <div class="allproducts">
            <img src="/uploads/{{productPic}}" alt="{{this.Name}}" width="100" height="140">            
            <br>
            <p>
                <a href="/products/{{this.id}}">{{this.Name}}</a>                
            </p>            
            <p id="price">
                CDN$ {{this.Price}}
            </p>            
        </div>
    {{/each}}
</section>