    
    
        <h2>{{Name}}</h2>        
            <div class="eachProduct">
                <img src="/uploads/{{productPic}}" alt="{{Name}}" width="300" height="420" class="eachProduct-pic">                  
                <p class="eachProduct-text">Category: {{Category}} <br>
                    Released Date: {{date}} <br>                    
                    CDN$ {{Price}}<br>                   
                    Players: Up to {{Players}} player(s)<br>
                    Quantity: {{Quantity}}<br><br>
                    {{#if user}}
                        <button onclick="">Add into Cart</button><br><br>
                    {{/if}}                     
                </p><br> <br> <br>  <br> <br> <br> <br> <br> <br>                   
                <div class="eachProduct-des">{{description}}</div>    
            </div>
           
            
            
   
   
