    
    
    <h2>{{Name}}</h2>
        <div class="productDetial">
            <img src="/uploads/{{productPic}}" alt="{{Name}}" width="300" height="420">   
            <p>Category: {{Category}}</p><br>
            <p>Released Date: {{date}}</p><br>            
            <p id="price">
                CDN$ {{Price}}
            </p><br>
            <p>Players: Up to {{Players}} player(s)</p><br
                        
        </div>
   
