    
    
        <h2>{{Name}}</h2>        
            <div class="eachProduct">
                <img src="/uploads/{{productPic}}" alt="{{Name}}" width="300" height="420" class="eachProduct-pic">                  
                <p class="eachProduct-text">Category: {{Category}} <br>
                    Released Date: {{date}} <br>                    
                    CDN$ {{Price}}<br>                   
                    Players: Up to {{Players}} player(s)<br>
                    In stock: {{Quantity}}     
                </p>
                <br> <br> <br>  <br> <br>                 
                {{#if user}}
                <section>                    
                    <form method="POST" action="/products/MyCart/{{_id}}" id="order">
                        Quantity:
                        <input type="number" name="Quantity" id="Quantity" max="{{Quantity}}" min="0"> <br><br>
                        <input type="submit" value="Add to cart" class="place">
                    </form>
                </section>                                             
                {{/if}}            
                 <br>                  
                <div class="eachProduct-des">{{description}}</div>    
            </div>
           
            
            
   
   
